[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = https://github.com/okwilkins/okwilkins.github.io
