#search {
    position: relative;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: 300px;
    z-index: 10;
}      
  
#search input {
    color: #23b0ff;
}

#searchResults {
    display: inline-block;
    width: 70vh;
    height: 70vh;
    position: absolute;
    overflow: scroll;
    scrollbar-width: none;
}


@media (max-width: 1000px) {
    #searchResults {
        width: 30vh;
        height: 50vh;
    }
}

#searchResults::-webkit-scrollbar{
    display: none;
}

#searchResults li {
    list-style: none; 
    margin-left: 0em;
    background-color: #1d212c; 
    border: 0.05em solid #23b0ff;
    display: -webkit-box;
}

#searchResults li .title {
    font-size: 1.1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#searchResults li .section {
    font-size: 0.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#searchResults li .content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}

#searchResults a {
    text-decoration: none !important;
    padding: 10px;
    display: inline-block;
}

#searchResults li:hover, li:focus {
    /* outline: 0; */
    color: #1d212c;
    background-color: #23b0ff;
    display: inline-block;
    flex-direction: row;
}
