#search {
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
    z-index: 10;
}      
  
#search input {
    color: #23b0ff;
    width: 100%;
}

#searchResults {
    display: block;
    width: 100%;
    height: 70dvh;
    position: absolute;
    scrollbar-width: none;
    overflow: scroll;
    overflow-x: hidden;
}

#searchResults a {
    text-decoration: none !important;
    display: -webkit-box;
}

#searchResults::-webkit-scrollbar{
    display: none;
}

#searchResults li {
    list-style: none; 
    margin-left: 0em;
    background-color: #1d212c; 
    border: 0.05em solid #23b0ff;
    width: 100%;
    text-decoration: none !important;
    display: block;
    padding: 0.5em;
}

#searchResults li .title {
    font-size: 1.1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#searchResults li .section {
    font-size: 0.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#searchResults li .content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}

#searchResults li:hover, li:focus {
    width: 100%;
    color: #1d212c;
    background-color: #23b0ff;
    display: block;
    flex-direction: row;
}
